body {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.blind {
    display: none;
}
/*================= header style ===================*/
.header-top {
    border-bottom: 1px solid #d60c00;
}
.top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
}
#tnb {
    display: flex;
    column-gap: 1rem;   
}
#tnb 


li {
    font-size: 13px;
    color: #888;
    font-weight: 500;
}
#tnb li:hover {
    color: #000;
}