body {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    height: 1700px;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.blind {
    display: none;
}
/*================= header style ===================*/
.header-top {
    border-bottom: 1px solid #d60c00;
}
.top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
}
#tnb {
    display: flex;
    column-gap: 1rem;   
}
#tnb 


li {
    font-size: 13px;
    color: #888;
    font-weight: 500;
}
#tnb li:hover {
    color: #000;
}

#gnb {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center; 
    height: 60px;
    align-items: center;
}
#gnb > li:nth-child(2n) {
    margin: 0 50px 0 50px;
}
#gnb > li {
    font-weight: 700;
    font-size: 1rem;
}
#gnb li:hover {
    color: white;
}
#gnb > li {
    position: relative;
    text-align: center;
}
#gnb > li > a {
    display: inline-block;
    padding: 20px 15px;
}
#gnb > li:hover .lnb {
    display: block;
}
.lnb li {
    padding: 15px 0;
    text-align: center;
}
.lnb {
    position: absolute;
    background: #d60c00;
    color: white;
    width: 100%;
    display: none;
}
.lnb > li:hover {
    background: #800600;
}
/*============= main banner style ==============*/

.main-banner {
    max-width: 900px;
    margin : 0 auto;
    height: 395px;  
}

/*============= main style ==============*/

.menu {
    background: #d60c00;
}
.menu-img {
    display: flex;
    justify-content: center;
}
.main-bottom {
    max-width: 900px;
    margin: 0 auto;
}
.main-bottom > h3 {
    text-align: center;
    padding: 40px 0;
    font-size: 22px;
    color: #d60c00;
    font-weight: 900;
    text-transform: uppercase;
}
.bottom-img {
    text-align: center;
    margin-bottom: 80px;
}
.bottom-img img {
    box-sizing: border-box;
    border: 0px;
    border-radius: 50%;
}

.bottom-img > a:nth-child(2) {
    margin: 0 50px 0 50px;
}

/*---------- about intro style -------------*/

#main {
    width: 900px;
    margin: 0 auto;
}


#slogan {
    border-bottom: 1px solid #dbdbdb;
}

#slogan .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2021/10/30/12/50/woman-6754248_960_720.jpg) no-repeat center / cover ;/* 반복안함, 가로-세로 중앙배치 / 사진은 알아서 늘려서*/
}
.text p {
    text-shadow: 1px 1px 10px #000;
    color: white;
    font-size: 18px;
}
.breadcrumb {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: right;
    color: #888;
    font-size: 0.875em;
}
.breadcrumb a:hover {
    color: #d60c00;
}

.operation {
    text-align: center;
    padding: 30px 0;
}

.operation h3 {
    background: #FFBEBE;
    width: 130px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 50%;
    font-size: 17px;
}
.operation h4 {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
}




/* mind style */
#mind {
    display: flex;
}
.mind-cols {
    float: left;
    width: 418px;
    height: 218px;
    
}
.mind-col1 {
    display: table;
    float: right;
    background: #ff2525;
    width: 200px;
    height: 218px;
    text-align: center;
}

.col1-p {
    display: table-cell;
    width: inherit;
    height: inherit;
    vertical-align: middle;
}
.col1-p > p {
    color: white;
    margin: 10px 0;
    line-height: 17px;
}
.col1-p > p:nth-child(1) {
    font-size: 1rem;
}

.col1-p > hr {
    width: 150px;
}

.mind-col2 {
    display: table;
    float: right;
    background: #4b4b4b;
    width: 200px;
    height: 218px;
    text-align: center;
}

.col2-p {
    display: table-cell;
    width: inherit;
    height: inherit;
    vertical-align: middle;
}
.col2-p > p {
    color: white;
    margin: 10px 0;
    line-height: 17px;
}
.col2-p > p:nth-child(1) {
    font-size: 1rem;
}

.col2-p > hr {
    width: 150px;
}
/* mind style end */




/* history style */

.history {
    padding: 40px 0;
    height: 400px;
}

.history h3 {
    background: #FFBEBE;
    width: 130px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 50%;
    font-size: 17px;
    text-align: center;
}
.history-part {
    padding-top: 30px;
}

.history-part1 {
    float: left;
    width: 450px;
    line-height: 50px;
}
.history-part1 dt {
    float: left;
    margin-right: 30px;
    font-weight: bold;
}
.history-part1 dd {
    font-size: 14px;
}

.history-part2 {
    float: right;
    width: 450px;
    line-height: 50px;
}

.history-part2 dt {
    float: left;
    margin-right: 30px;
    font-weight: bold;
}

.history-part2 dd {
    font-size: 14px;
}

/* history style end */



/* partner style*/
#partner {
    padding: 10px 0;
}
#partner > h3 {
    text-align: center;
    background: #FFBEBE;
    width: 130px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 50%;
    font-size: 17px;
}

.brand {
    display: flex;
    padding: 25px 0;

}
.brand li {
    width: 900px;
    text-align: center;
}

.brand figure img {
    width: 180px;
    height: 150px;
}

.brand figcaption {
    margin: 7px 0;
    font-weight: 600;
}





















/*============= aside style ==============*/

.aside-menu {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    border-top: 1px solid #191919;
}
.aside-menu li {
    padding: 20px 0;
    font-size: 14px;
    color: #d60c00;
}

.aside-menu li:nth-child(2) {
    margin: 0 50px 0 50px;
}

/*============= footer style ==============*/

#footer {
    text-align: center;
}
.footer-logo {
    margin: 30px 0;
}
p {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
}

